<form action='/login' method="POST">
  <input type='username' name="username" placeholder="Enter Username"></input>
  <input type='password' name="password" placeholder="Enter Password"></input>
  <button type='submit'>Login</button>
</form>

<a href="/register ">Don't have an account?</a>